ul {
    list-style: none;
}
a {
    text-decoration: none;
}

#mainContainer {
    margin: 0 140px;
}



/* header css */
header {
    margin-top: 10px;
}
#container {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {

}
.logo a {

}
.logo a img {
    width: 91.16px;
    height: 45px;

}

.categoryList {
    
}
.categoryList ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
.categoryList ul li {

}
.categoryList ul li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: #807D7E;
    margin: 0 20px;
}
.categoryList ul li a:hover {
    font-weight: 700;
    color: #3C4242;
}

.search {
    padding: 12px, 20px, 12px, 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search .searchIcon {
    width: 14.17px;
    height: 14.17px;
}
.search input {
    border: none;
    background-color: transparent;
    margin: 0 10px;
}
.search .searchArrow {
    width: 11.32px;
    height: 10px;
}

.cart {
    
}
.cart ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.cart ul li {
    
}
.cart ul li a {
    text-decoration: none;
    padding: 12px;
    background-color: #F6F6F6; 
    margin-left: 12px;
    border-radius: 8px;
}
.cart ul li a .wishlist {
    width: 15px;
    height: 13.33px;
    
}
.cart ul li a .Account {
    width: 13.33px;
    height: 13.33px;
    
}
.cart ul li a .Cart {
    width: 14.52px;
    height: 13.33px;
    
}


/* section deals */
#deals {
    margin: 30px 0;
}
#dealsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.HighCoziness {
    background-image: url('../images/bg-2.jpg');
    width: 100%;
    border-radius: 12px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: left;
    align-items: center;
}
.HighCoziness .container {
    margin-left: 30px;
}
.SummerStyle {
    background-image: url('../images/bg-3.jpg');
    width: 100%;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    justify-content: left;
    align-items: center;
}
.SummerStyle .container {
    margin-left: 30px;
}


/* section NewArrival */
.NewArrival {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.NewArrival h2 {
    
}
.NewArrival .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.NewArrival .bottom .arrow {

}
.NewArrival .bottom .arrow a {

}
.NewArrival .bottom .arrow a img {

}
.NewArrival .bottom ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.NewArrival .bottom ul li {

}
.NewArrival .bottom ul li img {
    margin-right: 10px;
    width: 262.81px;
    height: 262.81px;
}
.NewArrival .bottom ul li img:last-child {
    margin-right: 0;
}
.NewArrival .bottom ul li h4 {

}


/* section fashion */
.fashion {
    margin: 30px 0;
}
#fashionContainer {
    display: flex;
}
.fashion .left {
    background-image: url('../images/bg-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    align-items: center;
    align-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0 60px;
}
.fashion .left h1 {
    font-size: 34px;
    font-weight: 800;
}
.fashion .left h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 24px;
}
.fashion .left button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 60px;
}
.fashion .left button:hover {
    background-color: #828787;
    color: #FFFFFF;
}
.fashion .left button p {
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px;
}
.fashion .right {

}
.fashion .right img {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}



#men {
   margin-top: 50px;
   margin-bottom: 50px;
}
#men #top {
    
}
#men #bottom {
    display: flex;
    flex-direction: column;
}
#men #bottom .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#men #bottom .top li {
    margin-right: 50px;
}

#men #bottom .top li img {
    width: 270.36px;
    height: 393.26px;
}
#men #bottom .top li .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#men #bottom .top li .description .left {

}
#men #bottom .top li .description .left h4 {

}
#men #bottom .top li .description .left h6 {

}
#men #bottom .top li .description .right {

}
#men #bottom .top li .description .right img {
    width: 20px;
    height: 20px;
}


#men #bottom .bottom {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 20px;
}
#men #bottom .bottom li {
    margin-right: 50px;
}
#men #bottom .bottom li img {
    width: 270.36px;
    height: 393.26px;
}
#men #bottom .bottom li .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#men #bottom .bottom li .description .left {

}
#men #bottom .bottom li .description .left h4 {

}
#men #bottom .bottom li .description .left h6 {

}
#men #bottom .bottom li .description .right {

}
#men #bottom .bottom li .description .right img {
    width: 20px;
    height: 20px;
}


/* womens category section */
#women {
    margin-top: 50px;
    margin-bottom: 50px;
 }
 #women #top {
     
 }
 #women #bottom {
     display: flex;
     flex-direction: column;
 }
 #women #bottom ul {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     list-style: none;
 }
 #women #bottom ul li {
     margin-right: 50px;
 }
 
 #women #bottom ul li img {
     width: 270.36px;
     height: 393.26px;
 }
 #women #bottom ul li .description {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 #women #bottom ul li .description .left {
 
 }
 #women #bottom ul li .description .left h4 {
 
 }
 #women #bottom ul li .description .left h6 {
 
 }
 #women #bottom ul li .description .right {
 
 }
 #women #bottom ul li .description .right img {
     width: 20px;
     height: 20px;
 }


 /* Brand Deals */
#brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#brand .container {
    background-color: #3C4242; 
    width: 1233px; 
    height: 357.17px; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#brand .container .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#brand .container .top h1 {
    color: #fff;
}
#brand .container .top h4 {
    color: #fff;
    font-size: 18px;
    position: relative;
    top: -40px;
}
#brand .container .top h4 span {
    color: #FBD103;
    font-size: 18px;
}
#brand .container .bottom {
    position: relative;
    top: -20px;
}
#brand .container .bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#brand .container .bottom ul li {

}
#brand .container .bottom ul li img {
    height: 40px;
    width: 130px;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
}



/* limelight category section */
#limelight {
    margin-top: 50px;
    margin-bottom: 50px;
 }
 #limelight #top {
     
 }
 #limelight #bottom {
     display: flex;
     flex-direction: column;
 }
 #limelight #bottom ul {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     list-style: none;
 }
 #limelight #bottom ul li {
     margin-right: 50px;
 }
 
 #limelight #bottom ul li img {
     width: 270.36px;
     height: 393.26px;
 }
 #limelight #bottom ul li .description {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 #limelight #bottom ul li .description .left {
 
 }
 #limelight #bottom ul li .description .left h4 {
 
 }
 #limelight #bottom ul li .description .left h6 {
 
 }
 #limelight #bottom ul li .description .right {
 
 }
 #limelight #bottom ul li .description .right h6 {
     
 }



/* feedback */
#feedback {
    margin-top: 50px;
    margin-bottom: 50px;
 
}
 #feedback #top {

 }
 #feedback #top h2 {

 }
 #feedback #bottom {
    width: 100%;
 }
 #feedback #bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 #feedback #bottom ul li {
    border: 1px solid #636565;
    border-radius: 10px;
    padding: 20px;
    width: 33%;
    height: 280px;
    margin-left: 30px;
 }
 #feedback #bottom ul li:first-child {
    margin-left: 0;
 }
 #feedback #bottom ul li .top {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 #feedback #bottom ul li .top img {

 }
 #feedback #bottom ul li .top .rating {
    
 }
 
 #feedback #bottom ul li h3 {
    font-size: 22px;
    font-weight: 700;
    
 }
 #feedback #bottom ul li p {
    color: #636565;
 }




/* footer */
footer {
    background-color: #3C4242;
    
}
footer #top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: -50px;
}
footer #top div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
footer #top div ul {
    position: relative;
    top: -20px;
}
footer #top div ul li a h6 {
    font-size: 18px;
    font-weight: 500;
    line-height: 10px;
    color: #FFFFFF;
}

footer #bottom {

}
footer #bottom .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
footer #bottom .top .left {

}
footer #bottom .top .left ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer #bottom .top .left ul li {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}
footer #bottom .top .left ul li a {

}
footer #bottom .top .left ul li a img {
    width: 20px;
    height: 20px;
}
footer #bottom .top .right {
    display: flex;
    flex-direction: column;
    align-items: left;
}
footer #bottom .top .right h4 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
}
footer #bottom .top .right ul {
    display: flex;
    flex-direction: row;
}
footer #bottom .top .right ul li {

}
footer #bottom .top .right ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer #bottom .top .right ul li a img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
footer #bottom .top .right ul li a .text {
    margin-right: 20px;
}
footer #bottom .top .right ul li a .text p {
    color: #FFFFFF;
    
}
footer #bottom .top .right ul li a .text h6 {
    color: #FFFFFF;
    
}
footer #bottom .popularcategories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: #636565;
    border-radius: 12px;
    padding: 0 40px;
}
footer #bottom .popularcategories h4 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
}

footer #bottom .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}